<div class="jumbotron text-center">
<h1>Online Calendar App </h1>
<p class="lead">Welcome To Our Online Calendar, Where you can schedule any event for any time of the Day, Month or Year</p>
  <p>Sign in or Register below</p>
<div>
  <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
  <a class="btn btn-default" [routerLink]="['/login']" >Login</a>
</div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>How it work</h3>
    <p>Have too much work to do? Well, look no further our Online Calendar allows you to Schedule various times of your daily activities Online.</p>
    <p> Just choose the time you want to your activity scheduled for, the day it's happening and have it scheduled in minutes.</p>
  </div>
  <div class="col-md-4">
    <h3>Who can use our Calendar</h3>
    <p>Anyone can use this calendar. If your'e a student with who wants to balance out, study, class timetable or even an even with friends. This is the app for you.</p>
    <p>An adult with loads of office work?, this is als the app for you. </p>
  </div>
  <div class="col-md-4">
    <h3>What Can Be Scheduled?</h3>
    <p>Study Timetable</p>
    <p>Work Timetable</p>
    <p>Fitness Life</p>
    <p>Social Life</p>
  </div>
</div>

