<div class="jumbotron text-center">
<h1>Online Calendar App </h1>
<p class="lead">Welcome To Our Online Calendar, Where you can schedule any event for any time of the Day, Month or Year</p>
<div>
  <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
  <a class="btn btn-default" [routerLink]="['/login']" >Login</a>
</div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>How it work!!</h3>
    <p>Have too much work to do?, Well, look further our Online Calendar allows you to Schedule various times of an event Online.</p>
    <p> Just choose the time you want to attend the event, the day it's happening and have it booked in minutes.</p>
  </div>
  <div class="col-md-4">
    <h3>Who can use our Calendar</h3>
    <p>Well you got that right </p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data</p>
  </div>
</div>

